# RENAMED THIS FILE AS .env

# follow this contain these env vars (required all) to be able run the chatbot component
# you can create your own chatbot in my other project: https://intelli-chat-web.vercel.app/ 
# And follow the instructions in the project to create your chatbot.

# IF any of these vars didn't provided, the chatbot component automatically will not be rendered. You have free will if you need an automated public facing chatbot or not.
# It will not caused any application crashed or error

# REQUIRED FIELDS
INTELLICHAT_PUBLIC_URL=
INTELLICHAT_PROJECT_ID=
INTELLICHAT_CHATBOT_ID=
INTELLICHAT_SECRET_KEY=
INTELLICHAT_AUTH_HEADER=IntelliChat-Secret

# PUBLIC
# DEFINE YOUR OWN
VITE_INTELLICHAT_BOT_NAME=

# SANITY
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATABASE=
VITE_SANITY_USE_CDN=true
VITE_SANITY_API_VERSION=